* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 970px;
    border: 1px solid black;
    margin: auto;
}

#head {
    background: #ccc;
    padding: 15px;
}

#content {
    margin-top: 15px;
    padding: 10px;
    background: #ccc;
    overflow: hidden;
}

.leftBlock {
    background: #81cca3;
    padding: 15px;
    width: 70%;
    float: left;
}

.rightBlock {
    background: #cacc5b;
    padding: 15px;
    width: 30%;
    float: right;
}

#footer{
    margin-top: 15px;
    background: #ccc;
    padding: 15px;
}