* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 970px;
    border: 1px solid black;
    margin: auto;
}

#head {
    background: #ccc;
    padding: 15px;
}
#content {
    margin-top: 5px;
    padding: 5px;
    background: #ccc;
    overflow: hidden;
    font-family: "Bodoni MT";
    color: lightcyan;
}
.leftBlock {
    background: #81cca3;
    padding: 25px;
    width: 70%;
    float: left;
}
.regForm {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5% 30%;
}
.regFormInput{
    margin-bottom: 10px;
    border-radius: 11px;
}
input[type="Submit"] {
    border-radius: 5px;
    color: lightcyan;
}
.rightBlock {
    background: #cacc5b;
    padding: 25px;
    width: 30%;
    float: right;
}
#footer{
    margin-top: 5px;
    background: #ccc;
    padding: 15px;
}